<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>

    <!-- Bootstrap stuff -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"/>
    
    <!-- Load React dependencies on all pages for this app. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    

    <!-- React-Bootstrap stuff -->
    <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>


    <!-- Immutable js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/immutable/4.0.0-rc.14/immutable.js" integrity="sha512-zeUdZU/hnIdXs0/np3G5JTrvGZy6zqrZUnBaJ7Y6FrPIFUIhxKGMTgyjp+VfsEIhfdltRGh1OmkD1KlwhfMKtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>
      const Card = ReactBootstrap.Card;
      const ButtonGroup = ReactBootstrap.ButtonGroup;
      const Button = ReactBootstrap.Button;
      const CloseButton = ReactBootstrap.CloseButton;
      const Nav = ReactBootstrap.Nav;
      const Navbar = ReactBootstrap.Navbar;
      const Container = ReactBootstrap.Container;
      const Modal = ReactBootstrap.Modal;
      const Form = ReactBootstrap.Form;
      const ListGroup = ReactBootstrap.ListGroup;
      const Offcanvas = ReactBootstrap.Offcanvas;
      const Table = ReactBootstrap.Table;
    </script>

    <!-- Load stylesheets -->
    {% block css %}{% endblock %}
    </head>
    <body>
    <!-- page content/navigation bar -->
    {% block navbar %}
    {% endblock %}

    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
    {{ msg }}
    </p>
    {% endfor %}


    {% block body %}
    {% endblock %}

    <!-- Javascript -->
    
    <script data-plugins="transform-es2015-modules-umd" type="text/babel" src="/static/js/modules.js"></script>
    <script type="text/jsx" src="/static/js/navbar.jsx"></script>
    {% block js %}
    {% endblock %}
    
    
    </body>
</html>
