{% extends 'base.html' %}

{% block head %}
    Welcome
{% endblock %}

{% block navbar %}
<a class="homepage" href="/">
    Home
</a>
<a class="profile" href="/profile">
    Profile
</a>
<a class="resume" href="/resume">
    Resume
</a>
<a class="generate" href="/generate">
    Generate
</a>
<a class="logout" href="/logout">
    Logout
</a>
{% endblock %}


{% block body %}

<h1> Technical Skills </h1>
{% for item in technical_skills %}
        <table>
            <tr>
                <td> {{item.name}} </td>
                <td> {{item.des}} </td>
            </tr>
        </table>
{% endfor %}

<h1> Project Experience </h1>
{% for item in projects %}
        <table id={{item.id}}>
            <tr>
                <td> {{item.name}} </td>
                <td> {{item.role}} </td>
                <td> {{item.d_from}} </td>
                {% if item.d_to %}
                    <td> {{item.d_to}} </td>
                {% else %}
                    <td> present </td>
                {% endif %}
            </tr>
            {% for detail in item.details %}
            <tr>
                {{detail.des}}
            </tr>
            {% endfor %}
        </table>
{% endfor %}
<h1> Work Experience</h1>
{% for item in work_experiences %}
        <table id={{item.id}}>
            <tr>
                <td> {{item.name}} </td>
                <td> {{item.role}} </td>
                <td> {{item.d_from}} </td>
                {% if item.d_to %}
                    <td> {{item.d_to}} </td>
                {% else %}
                    <td> present </td>
                {% endif %}
            </tr>
            {% for detail in item.details %}
            <tr>
                {{detail.des}}
            </tr>
            {% endfor %}
        </table>
{% endfor %}

<h1> Education </h1>
{% for item in education %}
        <table>
            <tr>
                <td> {{item.name}} </td>
                <td> {{item.date}} </td>
                <td> {{item.loc}} </td>
                <td> {{item.des}} </td>
            </tr>
        </table>
{% endfor %}
<h1> Coursework </h1>
{% for item in courses %}
        <table>
            <tr>
                <td> {{item.name}} </td>
                <td> {{item.des}} </td>
            </tr>
        </table>
{% endfor %}
<h1> Extracurriculars </h1>
{% for item in extracurriculars %}
        <table id={{item.id}}>
            <tr>
                <td> {{item.name}} </td>
                <td> {{item.role}} </td>
                <td> {{item.d_from}} </td>
                {% if item.d_to %}
                    <td> {{item.d_to}} </td>
                {% else %}
                    <td> present </td>
                {% endif %}
            </tr>
            {% for detail in item.details %}
            <tr>
                {{detail.des}}
            </tr>
            {% endfor %}
        </table>
{% endfor %}
{% endblock %}