{% extends 'base.html' %}

{% block head %}
    Welcome
{% endblock %}

{% block navbar %}
<a class="homepage" href="/">
    Home
</a>
<a class="profile" href="/profile">
    Profile
</a>
<a class="resume" href="/resume">
    Resume
</a>
<a class="generate" href="/generate">
    Generate
</a>
<a class="logout" href="/logout">
    Logout
</a>
{% endblock %}


{% block body %}
<form action="/generate/download" id="generate_form" method="POST">
    <h3> Technical Skills </h3>
    {% for item in technical_skills %}
    <div>
        <input type="checkbox" id="s{{item.id}}" name="s{{item.id}}" value="s{{item.id}}">
        <label for="s{{item.id}}"> {{item.name}} : {{item.des}} </label>
    </div> 
    {% endfor %}
    <h3> Project Experience </h3>
    {% for item in projects %}
    <div>
        <input type="checkbox" id="d{{item.id}}" name="d{{item.id}}" value="d{{item.id}}">
        <label for="d{{item.id}}"> 
            <b>Company:</b> {{item.name}} 
            <b>Role:</b> {{item.role}} 
            <b>Date:</b> {{item.d_from}} to 
            {% if item.d_to %} {{item.d_to}} {% else %} present
            {% endif %} 
        </label> <br>
        <b>Details: </b>
        {% for detail in item.details %}
        <div>
            <input type="checkbox" id="{{item.id}}" name="{{item.id}}" value="{{item.id}}">
            <label for="{{item.id}}"> {{detail.des}} </label> 
        </div>
        {% endfor %}
    </div> 
    {% endfor %}
    <h3>Work Experience</h3>
    {% for item in work_experiences %}
    <div>
        <input type="checkbox" id="d{{item.id}}" name="d{{item.id}}" value="d{{item.id}}">
        <label for="d{{item.id}}"> 
            <b>Company:</b> {{item.name}} 
            <b>Role:</b> {{item.role}} 
            <b>Date:</b> {{item.d_from}} to 
            {% if item.d_to %} {{item.d_to}} {% else %} present
            {% endif %} 
        </label><br>
        <b>Details: </b>
        {% for detail in item.details %}
        <div>
            <input type="checkbox" id="{{item.id}}" name="{{item.id}}" value="{{item.id}}">
            <label for="{{item.id}}"> {{detail.des}} </label>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <h3>Education</h3>
    {% for item in education %}
    <div>
        <input type="checkbox" id="s{{item.id}}" name="s{{item.id}}" value="s{{item.id}}">
        <label for="s{{item.id}}"> 
            <b>Institution: </b> {{item.name}}, {{item.loc}}
            <b>Graduation: </b> {{item.date}} 
            <b>Program: </b> {{item.des}}
        </label>
    </div>
    {% endfor %}
    <h3>Coursework</h3>
    {% for item in courses %}
    <div>
        <input type="checkbox" id="s{{item.id}}" name="s{{item.id}}" value="s{{item.id}}">
        <label for="s{{item.id}}"> 
            <b>{{item.name}}: </b> {{item.des}} 
        </label>
    </div>
    {% endfor %}
    <h3>Extracurriculars</h3>
    {% for item in extracurriculars %}
    <div>
        <input type="checkbox" id="s{{item.id}}" name="s{{item.id}}" value="s{{item.id}}">
        <label for="s{{item.id}}"> 
            <b>Organization: </b> {{item.name}}, 
            <b>Role: </b> {{item.role}} 
            <b>Date:</b> {{item.d_from}} to 
            {% if item.d_to %} {{item.d_to}} {% else %} present
            {% endif %} 
        </label> <br>
        <b>Details: </b>
        {% for detail in item.details %}
        <div>
            <input type="checkbox" id="{{item.id}}" name="{{item.id}}" value="{{item.id}}">
            <label for="{{item.id}}"> {{detail.des}} </label> 
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <br><br>
    <input type="submit" value="Submit">
</form>


{% endblock %}