{% extends 'base.html' %}

{% block head %}
    Welcome
{% endblock %}
{% block css %}
<style>
    #form-container {
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .detail-overwrites {
        width: 80%;
    }
    .item-overwrites {
        width: 60%;
    }
</style>
{% endblock %}
{% block navbar %}
<div id="navbar"></div>
{% endblock %}


{% block body %}
<div id="generate-root"></div>

{% endblock %}

{% block js %}
<script data-plugins="transform-es2015-modules-umd" type="text/babel" src="/static/js/generate.jsx"></script>
{% endblock %}