{% extends 'base.html' %}
{% block title %}
    Create | Login
{% endblock %}
{% block css %}
<style>
.new-acc {
    background-color: #f0f0f5;
    margin: 0 auto;
    float:none;
    margin-bottom:10px;
    margin-top:10px;
    padding: 40px;
}
.existing-acc {
    background-color: #f0f0f5;
    margin: 0 auto;
    float:none;
    margin-bottom:10px;
    margin-top:10px;
    padding: 40px;
}
#contact-info {
    font-style: italic;
}
.submit-button {
    padding-top:20px;
}
</style>
{% endblock %}



{% block body %}

<div id="login-root">
</div>

{% endblock %}

{% block js %}
<script data-plugins="transform-es2015-modules-umd" type="text/babel" src="/static/js/login_create.jsx"></script>
{% endblock %}