{% extends 'base.html' %}

{% block head %}
    Profile
{% endblock %}

{% block navbar %}
<a class="homepage" href="/">
    Home
</a>
<a class="profile" href="/profile">
    Profile
</a>
<a class="resume" href="/resume">
    Resume
</a>
<a class="generate" href="/generate">
    Generate
</a>
<a class="logout" href="/logout">
    Logout
</a>
{% endblock %}

{% block body %}
<h1> Account </h1>
<div>
    <div>Login: {{contact.user.login}}</div>
    <div> Password: {{contact.user.password}}</div>
</div>
<h1> Contact info </h1>
<div>
    <div>Name: {{contact.first}} {{contact.last}}</div>
    <div>Location: {{contact.loc}}</div>
    <div>Email: {{contact.email}}</div>
    <div>Phone: {{contact.phone}}</div>
    <div>Github: {{contact.github}}</div>
    <div>Linkedin: {{contact.linkedin}}</div>
</div>

{% endblock %}