{% extends 'base.html' %}

{% block head %}
    Welcome
{% endblock %}
{% block css %}
<style>
    .card {
        width: 60%;
        margin: 10px;
        padding: 10px;
    };
    .card-header {
        color: #ffe6e6;
    }

</style>
{% endblock %}

{% block navbar %}
<div id="navbar"></div>
{% endblock %}

{% block body %}
<div id="root"></div>

{% endblock %}

{% block js %}
<script data-plugins="transform-es2015-modules-umd" type="text/babel" src="/static/js/resume.jsx"></script>
{% endblock %}