{% extends 'base.html' %}

{% block title %}
    Resume
{% endblock %}
{% block css %}
<style>
    .card {
        width: 60%;
        margin: 10px;
        padding: 10px;
    };
    .offcanvas-end {
        width:40%;
    }
    #delete-in-oc {
        padding-top: 20px;
    }
</style>
{% endblock %}

{% block navbar %}
<div id="navbar"></div>
{% endblock %}

{% block body %}
<div id="root"></div>

{% endblock %}

{% block js %}
<script data-plugins="transform-es2015-modules-umd" type="text/babel" src="/static/js/resume.jsx"></script>
{% endblock %}